.item {
    width: 400px;
    height: 400px;
    background-color: bisque;
    margin: 10px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    border-radius: 20px;
}

.item h2 {
    color: red;
    margin: 5px;
    padding: 5px;
}

.item h3 {
    color: green;
    margin: 5px;
    padding: 5px;
}

.btn {
    height: 50px;
    width: 120px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    background-color: black;
    
}